<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/business/project/css/projectInfo.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<form class="layui-form" action="" lay-filter="projectInfoForm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="required" lay-reqtext="项目名称为必填项" autocomplete="off" class="layui-input">
            </div>
    <!--        <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>-->
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">项目分组</label>
            <div class="layui-input-block">
                <input type="text" name="groupName" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">投放费用(W)</label>
        <div class="layui-input-inline">
            <input type="text" name="inputMoney" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">跟进人</label>
        <div class="layui-input-inline">
            <input type="text" name="followPerson" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">项目状态</label>
        <div class="layui-input-inline">
            <select name="status" lay-filter="status">
                <option value=""></option>
                <option value="1">进行中</option>
                <option value="2">已完结</option>
            </select>
        </div>

        <label class="layui-form-label">发布状态</label>
        <div class="layui-input-inline">
            <select name="releaseFlag" lay-filter="releaseFlag">
                <option value=""></option>
                <option value="1">已发布</option>
                <option value="2">未发布</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">总评论(W)</label>
            <div class="layui-input-inline">
                <input type="text" name="commentsCount" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">总点赞(W)</label>
            <div class="layui-input-inline">
                <input type="text" name="likeCount" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">总转发(W)</label>
            <div class="layui-input-inline">
                <input type="text" name="forwardCount" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="remark"></textarea>
        </div>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>投放达人选择</legend>
    </fieldset>
    <div id="searchDiv">
        达人名称：
        <div class="layui-inline">
            <input class="layui-input" name="searchName" id="searchName" autocomplete="off">
        </div>
        <button type="button" class="layui-btn" id="searchBtn" onclick="getSimpleStarInfo()">搜索</button>
    </div>

    <div id="starSimpleInfoDiv"></div>

    <div class="layui-form-item">
        <div class="layui-input-block" style="text-align: center">
<!--            <button id="LAY-component-form-getval" type="button" class="layui-btn" onclick="submitProjectInfo()">立即提交</button>-->
            <button id="LAY-component-form-getval" type="button" class="layui-btn" >立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>

<script th:inline="javascript">

    function getSimpleStarInfo(){
        var searchName = $('#searchName').val();
        $.ajax({
            url: ctx + "/projectInfo/page/getSimpleStarInfo?nickName=" + searchName,
            type: "GET",
            success: function (result) {
                $("#starSimpleInfoDiv").html(result);
            },
            error:function (result){
                console.log('error = '+JSON.stringify(result));
            }
        });
    }

    layui.use(['form'], function(){
        var form = layui.form,layer = layui.layer;

        //表单取值并提交
        layui.$('#LAY-component-form-getval').on('click', function(){
            var data = form.val('projectInfoForm');

            var selectPerson =[];
            $("input[name='selectPerson']:checked").each(function (index,element){
                //{"value": "1", "title": "李白"}
                selectPerson.push({value:$(this).val(),title:$(this).attr('title')})
            });
            console.log("sele = "+JSON.stringify(selectPerson));
            data.selectPersons = selectPerson;
            console.log("lastData = "+JSON.stringify(data));
            $.ajax({
                url: ctx + "/projectInfo/add",
                type: "POST",
                contentType: 'application/json',//发送格式（JSON串）
                data: JSON.stringify(data),//发送参数（JSON串）
                success: function (result) {
                    layer.msg(result.msg, {
                        time: 2000, //2s后自动关闭
                        offset: '70px'
                    });
                    var index = parent.layer.getFrameIndex(window.name);//先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                },
                error:function (result){
                    layer.msg(result.msg);
                }
            });
        });
    });

</script>

</html>