<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/business/resource/css/starInfo.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<table class="layui-table" lay-data="{id:'starListTable', escape: true}" id="starListTable" lay-filter="starListTable">
    <thead>
        <tr>
            <th lay-data="{field:'baseInfo',edit: 'text', title: '达人基本信息',fixed: 'left', minWidth: 165}">达人基本信息</th>
            <th lay-data="{field:'noteUrl',edit: 'text'}">笔记信息</th>
            <th lay-data="{field:'verticalArea',edit: 'text'}">垂直领域</th>
            <th lay-data="{field:'likeCount',edit: 'text'}">点赞量</th>
            <th lay-data="{field:'collectCount',edit: 'text'}">收藏量</th>
            <th lay-data="{field:'disCounts',edit: 'text'}">评论量</th>
            <th lay-data="{field:'forwardCount',edit: 'text'}">转发量</th>
            <th lay-data="{field:'id', hide:true}" >id</th>
        </tr>
    </thead>
    <tbody>
        <!-- 遍历集合，如果被遍历的变量 starList 为 null 或者不存在，则不会进行遍历，也不报错-->
        <tr th:each="starInfo : ${starList}">
            <!-- 将用户的主键 uId 存在在 name 属性中-->
            <td th:text="${starInfo.baseInfo}"></td>
            <td th:text="${starInfo.noteUrl}"></td>
            <td th:text="${starInfo.verticalArea}"></td>
            <td th:text="${starInfo.likeCount}"></td>
            <td th:text="${starInfo.collectCount}"></td>
            <td th:text="${starInfo.disCounts}"></td>
            <td th:text="${starInfo.forwardCount}"></td>
            <td th:text="${starInfo.id}"></td>
        </tr>
    </tbody>

</table>



<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

</body>

<script>
    /**
     * 表格展示控制
     */
    layui.use(['table', 'util'], function(){
        var table = layui.table
            ,util = layui.util;

        //监听单元格编辑
        table.on('edit(starListTable)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段

            $.ajax({
                url: ctx + "/starProject/update",
                type: "POST",
                contentType: 'application/json',//发送格式（JSON串）
                data: JSON.stringify(data),//发送参数（JSON串）
                success: function (result) {
                    layer.msg("修改成功!");
                }
                ,error:function (result){
                    console.log(result)
                    layer.msg("修改失败了！0-0");
                }
            });
        });

    });

</script>

</html>